*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    position: relative;
}
/*Global CSS*/
.obj_width{
    max-width: 1200px;
    margin: auto;
}
nav{
    background-color: aquamarine;
    box-shadow: 0 7px 10px rgba(0,0,0, 0.3);
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 0;
}
.navbar .logo{
    text-decoration: none;
    letter-spacing: 2px;
    font-size: 2.2rem;
}
#search_input{
    max-width: 400px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    color: blueviolet;
}
#search_button{
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color:hotpink;
    font-size: 18px;
    color: #fff;
    cursor: pointer;
    margin-left: 10px;

}
#blog_container{
    padding: 3rem 0;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
}
.blog_cards{
    width: 280px;
    border: 1px solid #2d4c50;
    border-radius: 10px;
    cursor: pointer;
    padding: 1rem;
    margin: 10px;
}
.blog_cards:hover{
    box-shadow: 4px 4px 10px rgba(0,0,0, 0.1);
}
.blog_cards img{
    width: 100%;
    height: 280px;
    object-fit: cover;
    border-radius: 5px;
    margin-bottom: 1rem;
}
.blog_cards h2{
    color: black;
    font-size: 1.7rem;
    font-weight: 500;
}

.blog_cards p{
    font-size: 1.2rem;
    padding-top: 0.7rem;
}
@media(max-width:500px){
    nav {
        padding:0 20px;
    }
    .navbar .logo {
    
        font-size: 1.8rem;
    }
    #search_input {
        width: 150px;
        padding: 10px 10px;
       
    }
    .blog_cards {
        width: 100%;
        
    }
}